.nav-block {
  position: relative;
  height: auto;
  padding: 4% 10% 4% 4%;
  color: $white;
  font-size: $font-size-base;

  .block-icon {
    padding-bottom: 6%;
    width: 40%;
  }

  p:first-of-type {
    font-weight: 800;
    font-size: 27.44px;
    text-transform: uppercase;
  }

  .arrow-icon {
    position: absolute;
    right: 5%;
    bottom: 14%;
    width: 20%;
  }

}
