// Typography

@media screen AND (max-width: $screen-lg) {
  $font-size-base: 12px !default;
}


// Logo on sidebar navigation

.navbar-logo {
  text-align: center;

  img {
    position: absolute;
    top: 10px;
    width: 100px;
  }
}

html, body {
  height: 100%;
}


// Core Colors

.bg-primary {
  background: $brand-primary;
  color: #fff;
}

.bg-base {
  background: $gray-light;
  color: #fff;
}

.bg-light {
  background: $gray-lighter;
}

.bg-dark {
  background: $gray-dark;
  color: #fff;
}

.bg-darker {
  background: $gray-darker;
  color: #fff;
}

.bg-white {
  background: $white;
}

.footer-social a {
  color: #fff;
}


// Modals

.modal {
  text-align: center;
  padding-top: 5%;

  iframe {
    max-width: 90%;
    max-height: 90%;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    background-color: $white;
    opacity: 10;

    &:hover {
      background-color: $gray-darker;
      opacity: .9;
    }

  }
}





