
.wrap {
  //height: 100%;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  width: 82%;

  @media screen AND (min-width: $screen-lg-desktop) {
    margin-left: 10%;
    margin-right: 3%;
    width: 72%;
  }
}

.main {
  @extend .container-fluid;
  height: 100%;
  margin-top: 130px;
  background: $gray-lighter;
  z-index: 1;
  box-shadow: 0 0 3px $gray-dark;
  padding-left: 0;
  padding-right: 0;
}

.content-row {
  @include make-row();
  padding-left: 5%;
  padding-right: 5%;
}

.content-row-full {
  @include make-row();
  margin-left: 0;
  margin-right: 0;
}
