// Glyphicons font path
$icon-font-path: "../fonts/";

$image-path: "../../dist/images";

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Colors
$brand-primary: #ee0011;
$brand-primary-dark: #bb000d;

$white: #fff;
$black: #000;

$gray: #d0d0d0;
$gray-dark: #898989;
$gray-darker: #242424;
$gray-light: #dadada;
$gray-lighter: #f0f0f0;


// Typography
$font-size-base: 16px !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default;
// ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default;
// ~12px

$font-size-h1: floor(($font-size-base * 3)) !default;
// ~36px
$font-size-h2: floor(($font-size-base * 2.15)) !default;
// ~30px
$font-size-h3: ceil(($font-size-base * 1.7)) !default;
// ~24px
$font-size-h4: ceil(($font-size-base * 1.25)) !default;
// ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil(($font-size-base * 0.85)) !default;
// ~12px

//Modal

$modal-backdrop-bg: $gray-darker;
$modal-backdrop-opacity: .9;
