/* Footer
---------------------------*/

.nav-footer {
  padding: 7% 5%;
  margin-bottom: 5%;
  background: $black;
  color: $white;

  .footer-logo {
    padding: 0;
    width: 100%;
    text-align: center;
    height: 60px;

    a {
      background: url(../../dist/images/logo.svg) no-repeat;
      background-size: 100% 100%;
      height: 60px;
      display: block;

    }
  }

  .footer-header {
    color: $gray;
  }

  ul {
    list-style: none;
    padding-left: 0;

    a {
      color: $white;
      text-decoration: none;
      font-size: 14px;
    }
  }

  .footer-social {
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      padding: 3%;
    }
  }
}
