/* Header global styles
---------------------------*/

.header-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.header-text {
  h1 {
    color: $gray-darker;
    font-weight: 800;
    padding-bottom: 3%;
    width: 80%;
  }

  p {
    color: $gray-darker;
    font-size: $font-size-h3;
    padding-bottom: 3%;
    width: 80%;

  }
}

.header-sub-image {
  @extend .header-image;
  background: url(#{$image-path}/photos/hero-home.jpg);
}

/* Header layout
---------------------------*/

// Home layout

.header-home {
  @extend .header-text;
  @extend .header-image;
  background: url(#{$image-path}/photos/hero-home.jpg);
  height: auto;
  padding: 8% 10% 16% 8%;

}

.header-products {
  @extend .header-text;
  @extend .header-image;
  height: 30vh;
  padding: 8% 0% 16% 4%;

  &.header-piping {
    background: url(#{$image-path}/photos/prod-header-piping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &.header-cable {
    background: url(#{$image-path}/photos/prod-header-cable.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.header-platforms {
    background: url(#{$image-path}/photos/prod-header-platforms.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &.header-stands {
    background: url(#{$image-path}/photos/prod-header-stands.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }



}

.header-sub {
  @extend .header-text;

  height: auto;
  min-height: 37%;
  padding-top: 6%;
  margin-bottom: 4%;
}

// Video link in header

.header-cta a {
  display: flex;
  flex-direction: row;
  align-items: center;

  .header-cta-text {
    width: 100%;
    margin: 0;
    margin-left: 3%;
    padding: 0;
    font-size: 18px;
    color: red;
    text-transform: uppercase;
  }

  .header-cta-icon img {
    width: 80px;
  }
}

/* Breadcrumbs
---------------------------*/

.breadcrumbs {
  padding-top: 2%;
  padding-bottom: 1%;
}