/*----------------------------*\
Global
\*----------------------------*/

// Login button

.wp-core-ui .button-primary input[type="submit"] {
  background-color: $brand-primary !important;
}

/*----------------------------*\
Home Page
\*----------------------------*/

// Dark gray arrow which are part of containers for video and carousel.

%frame-chevron-left {
  background: url(#{$image-path}/container-arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999;
  margin-left: -1px;
  pointer-events: none;
}

/* Hero Header - Check out header.scss
---------------------------*/

/* Nav Blocks Section
---------------------------*/
.nav-block-container {
  display: flex;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
}

.nav-block {
  float: left;
  height: auto;
  padding: 4% 10% 4% 4%;
  color: $white;
  font-size: $font-size-base;

  &:hover {
    color: $white;
    text-decoration: none;

    &.bg-darker {
      background-color: #000000;
    }

    & .arrow-icon {
      right: 8%;
    }
  }

  svg path, polygon {
    fill: #fff;

  }

  .block-icon {
    margin-bottom: 6%;
    width: 60px;
    height: 60px;
  }

  p:first-of-type {
    font-weight: 800;
    font-size: 27.44px;
    text-transform: uppercase;
  }

  .arrow-icon {
    position: absolute;
    right: 5%;
    bottom: 14%;
    width: 60px;
  }

}

/* Comparison Section
---------------------------*/

.content-compare {
  display: flex;
  align-items: center;
  padding: 5% 0;
  height: 100%;

  .content-left {

    text-align: right;
    padding-left: 5%;
    font-weight: 300;
    height: 100%;

  }

  .content-right {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    img {
      width: 80%;
      padding-left: 5%;
    }
  }

}

/* Testimonials Section
---------------------------*/

.content-testimonial {
  padding: 5% 0;
  text-align: center;
  .testimonial-quote {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2;
  }
}

/* Video Section
---------------------------*/

.content-video {
  height: 100%;
  display: flex;
  align-items: center;

  .video-cta {
    text-align: right;
    padding-left: 5%;
    font-weight: 300;
    background: $gray-darker;
    height: 100%;

  }

  .video-container {
    position: relative;
    padding-bottom: 37.5%;
    overflow: hidden;
    padding-left: 0;
    height: 100%;

  }

  .video-frame {
    @extend %frame-chevron-left;
  }

  //filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$image-path}/container-arrow.svg', sizingMethod='scale');

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

/* Table Section
---------------------------*/

.content-table {

  padding: 5% 0;

  h3 {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
  .footnote {
    text-align: center;
    font-size: 12px;
  }
  .table-container {
    list-style: none;
    display: table;
    width: 100%;

    .table-row {
      list-style: none;
      display: table-row;

      &:nth-child(1) {
        font-weight: 700;
      }

      &:nth-child(2n+2) {
        background: $gray;
      }

      &:last-child {
        background: $gray-lighter;
        color: $brand-primary;
        font-weight: 800;
        font-size: $font-size-h4;
      }

      .table-cell {
        display: table-cell;
        padding: 2% 0 2% 4%;
        width: 40%;

        &:nth-child(n+2) {
          text-align: center;
        }

        &:nth-child(1) {
          text-align: right;
          padding-right: 5%;
        }
      }

    }

  }

}

/* Carousel Section
---------------------------*/

.content-carousel {
  height: 100%;
  z-index: 999;
}

.carousel-container {
  position: relative;
  padding-bottom: 37.5%;
  overflow: visible;
  padding-left: 0;
}

.carousel-inner {
  background: $gray-darker;
  height: 100%;
}

.carousel-frame {
  @extend %frame-chevron-left;
}

.carousel, .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .row {
    height: 100%;
    width: 100%;

  }

  .item img {
    //width: 100%;
    z-index: 1;
    height: 100%;

  }

  .text-container {
    text-align: right;
    padding-left: 5%;
    font-weight: 300;
    height: 100%;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    background: $gray-darker;

    h3 {
      width: 100%;
    }
  }

  .image-container {
    height: 100%;
    background: $gray-darker;
  }
}

.carousel-control {
  text-shadow: none;

  &.right, &.left {
    background-image: none;
    opacity: 10;
  }

  .control-button-left {
    background: $brand-primary;
    position: absolute;
    left: 0;
    bottom: 10%;
    padding: .75em;
  }

  .control-button-right {
    background: $brand-primary;
    position: absolute;
    right: 0;
    bottom: 10%;
    padding: .75em;
  }
}

/*----------------------------*\
Products Landing
\*----------------------------*/

/* Category Nav
---------------------------*/

.category-nav {
  padding: 0 5% 3% 5%;

  h2 {
    width: 90%;
    color: $white;
    text-decoration: none;
  }

  p {
    font-size: $font-size-base;
    color: $brand-primary;
    text-decoration: underline;
  }

}

.category-nav-block {
  position: relative;
  height: 30vh;
  margin-bottom: 2%;

}

.category-detail {
  pointer-events: none;
  position: absolute;
  bottom: 5%;
  left: 7%;
}

.nav-block-bg {
  height: 100%;
  width: 100%;
  display: block;

  &:hover {
    .hover {
      display: inherit;
    }

    .default {
      display: none;
    }
  }
}

.nav-block-bg-1 {

  & .default {
    background: url(#{$image-path}/photos/prod-land-piping.jpg) no-repeat;
    height: 100%;
    background-size: cover;
  }

  & .hover {
    background: url(#{$image-path}/photos/prod-land-piping_hover.jpg) no-repeat;
    height: 100%;
    background-size: cover;
    display: none;

  }
}

.nav-block-bg-2 {

  & .default {
    background: url(#{$image-path}/photos/prod-land-cable.jpg) no-repeat;
    height: 100%;
    background-size: cover;
  }

  & .hover {
    background: url(#{$image-path}/photos/prod-land-cable_hover.jpg) no-repeat;
    height: 100%;
    background-size: cover;
    display: none;
  }
}

.nav-block-bg-3 {
  & .default {
    background: url(#{$image-path}/photos/prod-land-platforms.jpg) no-repeat;
    height: 100%;
    background-size: cover;
  }

  & .hover {
    background: url(#{$image-path}/photos/prod-land-platforms_hover.jpg) no-repeat;
    height: 100%;
    background-size: cover;
    display: none;
  }
}

.nav-block-bg-4 {
  & .default {
    background: url(#{$image-path}/photos/prod-land-stands.jpg) no-repeat;
    height: 100%;
    background-size: cover;
  }

  & .hover {
    background: url(#{$image-path}/photos/prod-land-stands_hover.jpg) no-repeat;
    height: 100%;
    background-size: cover;
    display: none;
  }
}

/*----------------------------*\
Products Pages
\*----------------------------*/

/* Disclaimer
---------------------------*/

.prod-disclaimer {
  padding: 2% 8%;
  font-size: 12px;
  text-align: center;
  line-height: 1.2;
  background-color: $brand-primary;
  color: $white;
}

/*----------------------------*\
Services
\*----------------------------*/

/* Chart
---------------------------*/

.chart-container {
  display: inline-block;
  height: 600px;

  margin-bottom: 5%;

  .chart-section {
    background-color: $white;

    height: 100%;
    width: 30%;
    padding: 3%;
  }

}

.chart-divider {
  background-color: $white;

  height: 600px;
  width: 5%;
  padding: 0;
  margin: 0;

  .divider-img {
    background: url(#{$image-path}/divider-arrow.png);
    background-size: 100% 100%;
    height: 100%;

  }
}

.chart-header {
  display: flex;
  align-items: center;
  margin-bottom: 10%;
  color: $brand-primary;

  .block-icon {
    margin-right: 20px;

    &.block-icon-1 {
      background: url(#{$image-path}/icons/icon-ruler.svg) no-repeat;
      background-size: 100% 100%;
      height: 40px;
      width: 40px;
    }

    &.block-icon-2 {
      background: url(#{$image-path}/icons/icon-calc.svg) no-repeat;
      background-size: 100% 100%;
      height: 40px;
      width: 40px;
    }

    &.block-icon-3 {
      background: url(#{$image-path}/icons/icon-truck.svg) no-repeat;
      background-size: 100% 100%;
      height: 40px;
      width: 60px;
    }
  }

}

.chart-bullets {
  margin-left: -10%;
  list-style-type: none;

  p:first-of-type {
    color: $gray-darker;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 400;

    &:before {
      content: "• ";
      color: $brand-primary; /* or whatever color you prefer */
    }
  }

  p:nth-child(2) {
    color: $brand-primary;
    font-size: .85em;
    font-weight: 600;
    margin-left: 10px;
  }
}

/* CTA Bar
---------------------------*/

.cta-container {
  background-color: $brand-primary;
  padding: 1% 3%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  &:hover {
    background-color: $brand-primary-dark;

    .cta-right {
      margin-right: 1%;
    }
  }

  .cta-left {
    color: $white;
    font-size: $font-size-h4;
  }

  .cta-right {
    background: url(#{$image-path}/icons/icon-arrow.svg) no-repeat;
    background-size: 100% 100%;
    height: 20px;
    width: 60px;
    color: $white;

    svg polygon {
      fill: #fff;
    }
  }
}

/* CTA Bar
---------------------------*/

.resource-links {
  margin-top: 5%;
  padding-left: 0;
  width: 100%;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-between;

    li:nth-child(2n+1) {
      background: #a8a8a8;
    }

    li:nth-child(2n+2) {
      background: #898989;
    }

    li {
      display: block;
      padding: 0;
      width: 20%;
      margin: 0;
      font-weight: 800;
      font-size: $font-size-h4;

      a {
        width: 100%;
        height: auto;
        display: block;
        padding-top: 14%;
        padding-bottom: 14%;
        text-align: center;
        text-decoration: none;
        color: $gray-darker;

        &:hover {
          background: $brand-primary url(#{$image-path}/icons/icon-external.png) no-repeat 96% 12%;
          background-size: 25px 25px;

        }

      }

    }
  }
}

/*----------------------------*\
FAQ
\*----------------------------*/

/* FAQ title
---------------------------*/

.faq-group-title {
  width: 100%;
  background-color: $brand-primary;
  color: $white;
  padding: 1% 0;
  font-size: 1.125em;
  margin-bottom: 3%;
}

.panel {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.panel-default > .panel-heading {
  background-color: transparent;
}

.panel-title {
  color: $gray-darker;

  h4 {
    margin-left: 20px;
    color: $gray-darker;
  }
  span {
    margin-left: -15px;

    i {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.panel-body {
  margin-left: 40px;
  color: $gray-darker;
}

.panel-title {

  a[aria-expanded="false"] {
    i {
      @extend .fa;
      @extend .fa-plus;
    }
  }
}

/*----------------------------*\
CONTACT
\*----------------------------*/

/* Top Section
---------------------------*/

.form-top-section {
  margin-top: 30px;
  padding: 0;
  display: flex;

  // Style for form labels
  p {
    color: $white;
    font-weight: 600;
    font-size: 16px;
  }

  // Changes inputs just for top section
  input {
    height: 50px;
    font-size: 24px;
    width: 100%;
  }
}

.form-top-left {
  background: $gray-darker;
  padding: 4%;

}

.form-top-right {
  background: $gray-dark;
  padding: 4%;
}

.wpcf7-form-control-wrap {
  height: 90px;
}

// Form erro styling
span.wpcf7-not-valid-tip {
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 2px 10px;
  line-height: 2;
  background: $brand-primary;
  color: $white;
}

.wpcf7-select {
  height: 50px;
}

/* Mid Section
---------------------------*/

.form-mid-section {
  padding-top: 2%;

  h3 {
    color: $gray-darker;
  }

  h4 {
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 10px;

      .wpcf7-list-item {
        display: flex;
      }

      .wpcf7-list-item-label {
        float: left;
        margin-left: 10px;
        font-size: 14px;
        font-weight: 500;
        color: $gray-darker;
      }

      input[type=checkbox] {
        float: left;
        //height: 15px;
        //width: 15px;
      }
    }
  }
}

/* Bottom Section
---------------------------*/

.form-bottom-section {
  display: flex;
  align-items: center;
  margin-top: 30px;
  background: $gray;
  padding-top: 3%;
  padding-bottom: 3%;

  .form-bottom-left {
    padding-right: 30px;

    p {
      color: $gray-darker;
      font-weight: 500;
      line-height: 1.2;
    }

    textarea {
      width: 100%;
      padding: 20px;
      color: $gray-darker;
      margin-top: 10px;
    }
  }

  .form-bottom-right {
    border-left: 1px solid $gray-dark;
    padding-left: 30px;
    height: 250px;
    display: flex;
    align-items: center;
    text-align: left;

  }

  .file-btn {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: $gray-dark;
    padding: 40px 20px;
    border: none;
    border-radius: 0;
    text-align: left;
  }
}

/* Submit Section
---------------------------*/

.form-bottom-submit {
  padding: 30px 0;
  text-align: center;

  .wpcf7-submit {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
    padding: 2% 4%;
    border-radius: 0;
    text-transform: uppercase;
  }

}

/* Global field styles
---------------------------*/

.form-wrapper {

  select, input, .wpcf7-select {
    color: $gray-darker;
    margin-top: 5px;
    font-weight: 300;
    font-size: 24px;
    padding: 0 10px 0 10px;
  }

  .required {
    color: #ff0000;
    font-weight: 700;
  }
}

.form-error {
  text-align: center;
  padding: 0 20% 0 20%;

  div.wpcf7-validation-errors {
    border: 2px solid red;
    padding: 2% 0 2% 0;
  }
}

/*----------------------------*\
Software
\*----------------------------*/

.software-nav {
  margin-bottom: 10%;

  & > div {
    padding: 0;
  }

}

.software-nav-block {
  position: relative;
  height: 400px;

  h2, p, a {
    color: #fff;
    text-decoration: none;
  }

  h2 {
    text-transform: uppercase;
    width: 90%;
    color: $white;
    text-decoration: none;
  }

  p {
    font-size: $font-size-base;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  @media screen AND (max-width: $screen-lg) {
    & {
      height: 380px;
      font-size: $font-size-base/1.3;
    }
  }

}

.software-detail {
  pointer-events: none;
  padding: 0 10%;

}

.software-nav-block .nav-block-bg {
  width: 100%;
  display:block;
  overflow:auto;

  .default {
    display: flex;
    align-items: center;
    height: 100%;
    background-size: cover;
  }

  &:hover {
    .hover {
      padding: 0 10%;
      height: 100%;
      display: inherit;
      background: $brand-primary;
      display: flex;
      align-items: center;

      p {
        font-size: 24px;
      }

      path, polygon {
        fill: $white;
      }
    }

    .default {
      display: none;
    }
  }
}

.nav-block-left {

  & .default {
    background: url(#{$image-path}/photos/soft-left.jpg) no-repeat;
  }

  & .hover {
    display: none;
  }
}

.nav-block-right {
  display:block;
  overflow:auto;

  & .default {
    background: url(#{$image-path}/photos/soft-right.jpg) no-repeat;
  }

  & .hover {
    display: none;
  }
}


















