
.prod-row {

}

.prod-section {
  padding-top: 0;
  padding-bottom: 1%;
  color: $gray-darker;

}

.prod-container {
  margin-bottom: 5%;


}

.prod-item {
  box-shadow: 0 0 3px $gray-dark;
}

.prod-title {
  color: $white;
  background-color: $brand-primary;
  font-weight: 600;
  text-align: center;
  padding: 4% 0;

  ul {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      word-wrap: normal;
      font-size: 14px;
    }
  }

}

.prod-img {
  position: relative;
  background-color: $white;
  //padding: 5%;

  img {
    width: 100%;
  }

  &:hover {
    .prod-modal-icon {
      cursor: hand;
      background-color: $brand-primary;
    }

  }

  .prod-modal-icon {
    cursor: hand;
    position: absolute;
    top: 40%;
    left: 43%;
    font-size: 1.25em;
    background-color: rgba(40, 40, 40, .2);
    padding: 3%;
    border-radius: 100px;
    color: $white;

    &:hover {
      background-color: $brand-primary;
    }

  }
}

// Product download buttons

.prod-dls {
  box-shadow: 0 0 3px $gray-dark;
  height: 6vh;
}

.prod-dl {
  height: 6vh;
  background-color: $gray-light;
  border: 1px $white solid;

  a {
    display: table-cell;
  }
}

.prod-dl-pdf {


  & {
    background: url(../../dist/images/icons/icon-dl-pdf.svg) no-repeat;
    background-size: 70% 70%;
    background-position: center;
  }

  &:hover {
    background: url(../../dist/images/icons/icon-download.svg) no-repeat;
    background-size: 80% 80%;
    background-position: center;
    background-color: $brand-primary;
  }
}

.prod-dl-dwg {


  & {
    background: url(../../dist/images/icons/icon-dl-dwg.svg) no-repeat;
    background-size: 70% 70%;
    background-position: center;
  }

  &:hover {
    background: url(../../dist/images/icons/icon-download.svg) no-repeat;
    background-size: 80% 80%;
    background-position: center;
    background-color: $brand-primary;
  }
}

.prod-dl-hpj {


  & {
    background: url(../../dist/images/icons/icon-dl-hpj.svg) no-repeat;
    background-size: 70% 70%;
    background-position: center;
  }

  &:hover {
    background: url(../../dist/images/icons/icon-download.svg) no-repeat;
    background-size: 80% 80%;
    background-position: center;
    background-color: $brand-primary;
  }
}

.prod-dl-pkg {


  & {
    background: url(../../dist/images/icons/icon-dl-calc.svg) no-repeat;
    background-size: 70% 70%;
    background-position: center;
  }

  &:hover {
    background: url(../../dist/images/icons/icon-download.svg) no-repeat;
    background-size: 80% 80%;
    background-position: center;
    background-color: $brand-primary;
  }
}

// Modal for products

.modal-body {
  background-color: $white;
  margin-left: 20%;
  margin-right: 20%;

  img {
    max-width: 100%;
    max-height: 70vh;
  }
}

.modal-header {
  text-align: left;
  margin-top: 0;
  color: $gray-darker;
  border-bottom: 0;
}



