//Main nav
.nav-main {
  background: #242424;
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-left: 60%;
  width: 18%;
  z-index: 999;
}

.nav-logo {
  position: absolute;
  height: 63px;
  top: 200px;
  left: -10%;
  background: $brand-primary;
  width: 110%;
  img {
    margin-top: 14px;
    margin-left: 16px;
    height: 22px;
  }
}

.nav-menu {
  margin-top: 300px;
  //margin-left: 65px;
  ul {
    list-style: none;
    li {
      padding-bottom: 1em;

      &.active a {
        color: $white;
      }
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $gray-dark;

      &:hover {
        color: $gray;
      }

      &:focus {
        color: $brand-primary;
      }

    }

  }

}

.current-menu-item {
  a {
    color: $white;
  }
}


